@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:black; border:1px solid white; border-top:hidden;">
    <h1>Store Management</h1>
    <p class="lead">This Website To Manage Goods . We Recieve Goods And Send It To Every Where At The Lowest Price In Egypt</p>
    <p><a href="#" class="btn btn-success btn-lg">Contact Us &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Recieving Goods</h2>
        <p>
            We have the best workers to recieve your goods and care about it to save it from damage, 
           
        </p>
        <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301865">See Their Work &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Storing Goods</h2>
        <p>
            We Store Your Goods in our big store safely for the time you want, And We responsible for it.
        </p>
        <p><a class="btn btn-primary" href="#">See Our Store &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Distributing Goods</h2>
        <p>We send your goods to every where in Egypt and distribute it in the time you want quickly and safely.</p>
        <p><a class="btn btn-primary" href="#">Try Working With Us &raquo;</a></p>
    </div>
</div>